<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"


	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    ">

	<context:annotation-config />
	<mvc:annotation-driven />

	<context:component-scan
		base-package="com.ibs.hotels.controller,com.ibs.hotels.DAO,com.ibs.hotels.service" />


	<!-- <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver"> 
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" 
		/> <property name="prefix" value="/WEB-INF/jsp/" /> <property name="suffix" 
		value=".jsp" /> </bean> -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass">
			<value>
				org.springframework.web.servlet.view.tiles2.TilesView
			</value>
		</property>
	</bean>
	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles.xml</value>
			</list>
		</property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:messages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	<!-- <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"> 
		<property name="paramName" value="lang" /> </bean> -->
	<mvc:interceptors>
		<bean id="localeChangeInterceptor"
			class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="lang" />
		</bean>
	</mvc:interceptors>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="en" />
	</bean>

	<!-- <bean id="handlerMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"> 
		<property name="interceptors"> <ref bean="localeChangeInterceptor" /> </property> 
		</bean> -->
	<bean id="searchValidator" class="com.ibs.hotels.form.SearchMenuValidator" />
	<!-- <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean"/> -->

	<bean id="httpClientParams" class="org.apache.commons.httpclient.params.HttpClientParams">
		<property name="authenticationPreemptive" value="true" />
		<property name="connectionManagerClass"
			value="org.apache.commons.httpclient.MultiThreadedHttpConnectionManager" />
	</bean>
	<bean id="httpClient" class="org.apache.commons.httpclient.HttpClient">
		<constructor-arg ref="httpClientParams" />
	</bean>
	<bean id="httpClientFactory"
		class="org.springframework.http.client.CommonsClientHttpRequestFactory">
		<constructor-arg ref="httpClient" />
	</bean>
	<!-- <oxm:jaxb2-marshaller id="jaxbMarshaller" contextPath="com.ibs.hotels.json"/> -->
	<bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<!-- <property name="packagesToScan"> <value>com.ibs.hotels.json</value> 
			</property> -->
		<property name="classesToBeBound">
			<list>
				<value>com.ibs.hotels.json.MapJson</value>
				<value>com.ibs.hotels.json.ChargeableRateInfo</value>
				<value>com.ibs.hotels.json.HotelList</value>
				<value>com.ibs.hotels.json.HotelListResponse</value>
				<value>com.ibs.hotels.json.HotelSummary</value>
				<value>com.ibs.hotels.json.NightlyRate</value>
				<value>com.ibs.hotels.json.NightlyRatesPerRoom</value>
				<value>com.ibs.hotels.json.RateInfo</value>
				<value>com.ibs.hotels.json.RoomRateDetails</value>
				<value>com.ibs.hotels.json.RoomRateDetailsList</value>
				<value>com.ibs.hotels.json.Surcharge</value>
				<value>com.ibs.hotels.json.Surcharges</value>
				<value>com.ibs.hotels.json.ValueAdd</value>
				<value>com.ibs.hotels.json.ValueAdds</value>

			</list>
		</property>
	</bean>
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<constructor-arg ref="httpClientFactory" />

		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
					<property name="marshaller" ref="jaxbMarshaller" />
					<property name="unmarshaller" ref="jaxbMarshaller" />
				</bean>
				<bean class="org.springframework.http.converter.FormHttpMessageConverter" />
				<bean
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
					<!-- <property name="marshaller" ref="jaxbMarshaller" />
					<property name="unmarshaller" ref="jaxbMarshaller" /> -->
				</bean>
			</list>
		</property>
	</bean>


</beans>